/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

html,body {

}

/* Mobile first approach */
.wrapper {
    width: 100%;
    max-width:1000px;
    overflow:hidden;
    margin:0 auto;
}

.menu_button {
    background-color:#807f74;
    width:100%;
    padding:1em 0em;
    font-family: 'avenir', trebuchet, sans-serif;
    float:left;
}

#menu {
    display:none;
    font-family: 'avenir', trebuchet, sans-serif;
}

#menu li {
    width:100%;
    background-color:#807f74;
    padding: 1em 0em;
    margin:1em 0em;
    text-align:center;
    float:left;
}

a {
    color:white;
}

#cart{
    width:10%;
    margin-left:340px;
    margin-top:4px;
    position:absolute;
    float:right;
}

.bar{
    background-color:#cec3b6;
    position:relative;
    overflow:hidden;
    height:90px;
    width:100%;
}
#logo{
    margin:0 auto;
    margin-top:7.3px;
    width:25%;
    overflow:hidden;
    position:relative;
}


#hero{
    position: relative;
}
.lav{
    position:absolute;
    width:40%;
    margin-left:20px;
    margin-top:50px;
}
.product{
    width:100%;
    background-color:#d8d8d8;
    height:200px;
}

.forms{
    width:85%;
    margin-left:29px;
    height:700px;
    background-color:#d8d8d8;
    margin-top:10px;
}
.pass{
    width:85%;
    margin-left:29px;
    height:300px;
    background-color:white;
}
.sign{
    
}
.bxslider{
    position:relative;
}

a.bodylink:hover {
	text-decoration: none;
}

h1{
    position:absolute;
    color:white;
    font-size:21pt;
    font-family: 'adobe caslon pro', times, georgia, serif;
    text-align: center;
    line-height: 1;
    margin-top:40px;
}
h2{
    position:absolute;
    font-family: 'avenir', trebuchet, sans-serif;
    color:white;
    font-size:14pt;
    margin-top:55px;
    text-align:center;
    margin-left:18px;
    margin-bottom: 50px;
    width:80%;
}
.descript{
    font-size:12pt;
    color:black;
    position:absolute;
    margin-left:20px;
    margin-bottom:10px;
    width:55%;
}
.total{
    font-size:12pt;
    color:black;
    position:absolute;
    margin-left:20px;
    margin-top:73px;
    width:55%;
}
h3{
    color:white;
    font-family: 'avenir', trebuchet, sans-serif;
    line-height:2;
    font-size:9pt;
    text-align:center;
    margin-top:40px;
}
h4{
    color:white;
    font-family: 'avenir', trebuchet, sans-serif;
    font-size:9pt;
    text-align:center;
    margin-top:40px;
}
h5{
    color:black;
    font-family: 'avenir', trebuchet, sans-serif;
    text-align:center;
    font-size:15pt;
    margin-top:50px;
    
    
}

p{
    margin-left:48px;
    width:75%;
    font-family: 'avenir', trebuchet, sans-serif;
    font-size:11pt;
    margin-top:28px;
    position:absolute;
    text-align:center;
    
    
    
}

.top{
    width:43.9%;
    position:relative;
    margin-left:18px;
    display:inline-block;
    text-align:center;
}
.bottom{
    width:93.5%;
    margin-top:12px;
    margin-left:18px;
    text-align:center;
}
footer{
    margin-top:12px;
    height:500px;
    background-color:#cec3b6;
}
.social{
    display:inline-block;
    width:10%;
    margin-left:65px;
    margin-top:40px;
    
}
.card{
    display:inline-block;
    width:15%;
    margin-left:30px;
    margin-top:40px;
}
/* Turns off link borders on Firefox */
a:active, a:focus {outline: 0;}

/* media query for desktop */
@media screen and (min-width:700px) {
    .nodesk {
        display:none;
    }
   
    
.menu_button {
    background-color:#807f74;
    width:100%;
    padding:1em 0em;
    font-family: 'avenir', trebuchet, sans-serif;
    float:left;
}

#menu {
    display:;
    font-family: 'avenir', trebuchet, sans-serif;
}

#menu li {
    width:100%;
    background-color:#807f74;
    padding: 1em 0em;
    margin:1em 0em;
    text-align:center;
    float:left;
    position:absolute;
}

a {
    color:white;
}

#cart{
    width:5%;
    margin-left:1200px;
    margin-top:4px;
    position:absolute;
    float:right;
}

.bar{
    background-color:#cec3b6;
    position:relative;
    overflow:hidden;
    height:90px;
    width:100%;
}
#logo{
    margin:0 auto;
    margin-top:7.3px;
    width:5%;
    overflow:hidden;
    position:relative;
}
    
#hero{
    position: relative;
    margin-left:400px;
}
.lav{
    position:absolute;
    width:11%;
    margin-left:500px;
}
.product{
    width:100%;
    background-color:#d8d8d8;
    height:200px;
}

.forms{
    width:50%;
    margin-left:350px;
    height:700px;
    background-color:#d8d8d8;
    margin-top:10px;
}
.pass{
    width:85%;
    margin-left:29px;
    height:300px;
    background-color:white;
}
.sign{
    
}
.bxslider{
    position:relative;
}

a.bodylink:hover {
	text-decoration: none;
}

h1{
    position:absolute;
    color:white;
    font-size:21pt;
    font-family: 'adobe caslon pro', times, georgia, serif;
    text-align: center;
    line-height: 1;
    margin-top:40px;
    margin-left:98px;
}
h2{
    position:absolute;
    font-family: 'avenir', trebuchet, sans-serif;
    color:white;
    font-size:14pt;
    margin-top:55px;
    text-align:center;
    margin-bottom: 50px;
    width:65%;
}
.descript{
    font-size:12pt;
    color:black;
    position:absolute;
    margin-left:20px;
    margin-bottom:10px;
    width:55%;
}
.total{
    font-size:12pt;
    color:black;
    position:absolute;
    margin-left:20px;
    margin-top:73px;
    width:55%;
}
h3{
    color:white;
    font-family: 'avenir', trebuchet, sans-serif;
    line-height:2;
    font-size:9pt;
    text-align:center;
    margin-top:40px;
}
h4{
    color:white;
    font-family: 'avenir', trebuchet, sans-serif;
    font-size:9pt;
    text-align:center;
    margin-top:40px;
}
h5{
    color:black;
    font-family: 'avenir', trebuchet, sans-serif;
    text-align:center;
    font-size:15pt;
    margin-top:50px;
    
    
}

p{
    margin-left:195px;
    width:75%;
    font-family: 'avenir', trebuchet, sans-serif;
    font-size:11pt;
    margin-top:28px;
    position:absolute;
    text-align:center;
    
    
    
}

.top{
    width:28%;
    position:relative;
    margin-left:10px;
    display:inline-block;
    text-align:center;
}
.bottom{
    width:93.5%;
    margin-top:12px;
    margin-left:250px;
    text-align:center;
}
footer{
    margin-top:12px;
    height:650px;
    background-color:#cec3b6;
}
.social{
    display:inline-block;
    width:5%;
    margin-left:330px;
    margin-top:40px;
    
}
.card{
    display:inline-block;
    width:5%;
    margin-left:240px;
    margin-top:40px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
